html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	display: table;
}

.content {
	display: table-row;
	height: 100%;
}

.content-body {
	display: table-cell;
	text-align:center;
}


/* Aesthetics */

.container {
	width: 100%;
	height: 100%;
}

.header,.footer {
	text-align:center;
	padding: 10px 20px;
	background: #f7f7f7;
}
		
.content-body {
	padding: 20px;
	background: #e7e7e7;
}
.announces {
	background-color:#f7f7f7;
	border:2px solid black;
	margin:auto;
	margin-top : 2px;
	margin-bottom:2px;
	width:40%;
	
}

#filter-body {
	position:absolute;
	top:200px;
	left:30px;
	border:2px solid black;
	padding:10px;
}